nav {
  align-items: center;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  height: 7.5vh;
  justify-content: space-between;
  padding: 10px 0px;
  top: 0;
  width: auto;
}

.logo {
  color: black;
  font-size: 32px;
  font-weight: 900;
  padding-left: 3%;
  text-decoration: none;
}

.links {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.link {
  color: black;
  text-decoration: none;
}