.App {
  /* border: 4px solid pink; */
  font-family: "Jost", sans-serif;
  height: fit-content;
  margin: 0 auto;
}

@media print, screen and (min-width: 40em) {
  .App {
    background-color: #ffffff;
    max-width: 1250px;
    margin: 0 auto;
  }
}

@media print, screen and (min-width: 20em) {
  
}


/***** This is informational  *****/
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
