.signin-screen {
  border: 4px solid cyan;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 63.5vh;
  padding: 5em 0em;
}


/*========= SUB CONTAINER 1 =========*/
.helper-text {
  /* border: 2px solid black; */
  font-size: 1.7em;
  text-align: right;
  margin: 0em 2em;
  padding-top: 2em;
  /* width: 45%; */
}

.right-chevron {
  font-size: 1.5em;
}

.signup-link {
  color: #f41d37;
  text-decoration: none;
}
/*===================================*/


/*========= SUB CONTAINER 2 =========*/
.signin-form-wrapper {
  /* border: 2px solid goldenrod; */
  background-color: #edf2f4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25em;
  margin: 0em 3em;
  width: 30em;
}

.signin-form {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  flex: 1;
  width: fit-content;
  width: 75%;
}

.signin-banner {
  display: block;
  font-size: 1.7em;
  padding: 1.5em 0em 1em 0em;
  text-align: center;
}

.signin-label {
  display: block;
  padding: 1em 0em;
}

.signin-input {
  border: 1px solid #8d99ae;
  display: block;
  flex-shrink: 2;
  font-size: 1em;
  padding: 0.3em;
  width: 100%;
  box-shadow:inset 0 0 2px 1px #8d99ae;
  background: #fff;
}

.signin-button {
  align-self: center;
  background-color: #f41d37;
  border: none;
  box-shadow: 2px 2px 4px rgb(128, 128, 128);
  -webkit-box-shadow: 2px 2px 4px rgb(128, 128, 128);
  -moz-box-shadow: 2px 2px 4px rgb(128, 128, 128);
  box-shadow: 2px 2px 4px rgb(128, 128, 128);
  color: #edf2f4;
  font-weight: bold;
  border-radius: 5em;
  height: 2.5em;
  margin: 2em 0em 0em 0em;
  width: 12em;
}

.signin-button:active {
  background: #e5e5e5;
  background-color: #f41d37;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
  transform: translate(2px, 2px);
}
/*===================================*/