/*===== THIS WRAPS THE ENTIRE HOME PAGE =====*/
.home-container {
  /* background-color: lightcyan; */
  border: 2px solid cyan;
  height: fit-content;
  padding: 4em;
}

/*========= SUB CONTAINER 1 =========*/
.sub-container-1 {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.image-container {
  height: 32em;
  width: 32em;
}

.hero-image {
  /* background-color: goldenrod; */
  /* border: 2px solid black; */
  /* height: 32em;
  width: 32em; */
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.subcon-1 {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  height: 25em;
  padding-top: 3em;
  width: fit-content;
}

.hero-text-container {
  /* background-color: lightcoral; */
  /* border: 2px solid black; */
  height: 5em;
  height: fit-content;
  overflow-wrap: break-word;
  padding: 0em 0em 0em 5em;
  width: fit-content
}
.hero-text {
  display: block;
  flex-shrink: 1;
  font-size: 3.6em;
  /* letter-spacing: 2.3px */
}

.dinner {
  /* animation-delay: 2000s;
  animation: fadeIn lineaer 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s; */
}

.designed {
  color: #f41d37;
  /* animation-delay: 4000s;
  animation: fadeIn lineaer 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s; */
}

.terms {
  /* animation: fadeIn lineaer 6s;
  -webkit-animation: fadeIn linear 6s;
  -moz-animation: fadeIn linear 6s;
  -o-animation: fadeIn linear 6s;
  -ms-animation: fadeIn linear 6s; */
}

.view-recipes-button {
  background-color: #f41d37;
  border: none;
  box-shadow: 2px 2px 4px rgb(128, 128, 128);
  -webkit-box-shadow: 2px 2px 4px rgb(128, 128, 128);
  -moz-box-shadow: 2px 2px 4px rgb(128, 128, 128);
  box-shadow: 2px 2px 4px rgb(128, 128, 128);
  color: #ffffff;
  font-weight: bold;
  border-radius: 5em;
  height: 2.5em;
  margin: 2em 0em 0em 0em;
  width: 12em;
}

.view-recipes-button:active {
  background: #e5e5e5;
  background-color: #f41d37;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
  transform: translate(2px, 2px);
}
/*===================================*/

/*========= SUB CONTAINER 2 =========*/
.sub-container-2 {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 6em 0em 2em 0em;
}

.branding {
  display: block;
}

.sub-header-text {
  /* border: 2px solid black; */
  font-size: 24px;
  height: 10em;
  width: 13em;
}

.branding-content {
  font-size: 20px;
}
/*===================================*/

/*========= SUB CONTAINER 3 =========*/
.sub-container-3 {
  border: 2px solid cyan;
  display: flex;
  justify-content: space-between;
  padding: 4em 0em;
}

.recipe-card {
  border: 2px solid purple;
  height: 25em;
  width: 20em;
  /* object-fit: cover;
  width: 100%;
  height */
}

.card-image-container {
  border: 3px solid goldenrod;
}

.card-image {
  border: 2px solid palegreen;
  height: 60%;
  object-fit: cover;
  width: 100%;
}
/*===================================*/

/*=========== TRANSITIONS ===========*/
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/*===================================*/
